$color_1: #f7f7f7;
$color_2: #999;
$color_3: #777;
$font-family_1: inherit;
$background-color_1: #444;
$background-color_2: #f7f7f7;
$border-color_1: #f7f7f7;

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav--tours {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}
.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  svg {
    height: 2rem;
    width: 2rem;
    fill: #f7f7f7;
  }
}
.nav__search-input {
  font-family: $font-family_1;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $color_1;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 18rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &::-webkit-input-placeholder {
    color: $color_2;
  }
  &:-ms-input-placeholder {
    color: $color_2;
  }
  &::-ms-input-placeholder {
    color: $color_2;
  }
  &::placeholder {
    color: $color_2;
  }
  &:focus {
    outline: none;
    width: 25rem;
    border-bottom: 1px solid currentColor;
  }
}
.header {
  background-color: $background-color_1;
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  img {
    height: 3.5rem;
  }
}
.nav__el {
  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
  }
  &:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
  }
  &:not(:last-child) {
    margin-right: 3rem;
  }
  &:focus {
    outline: none;
  }
}
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background-color: $background-color_2;
    color: $color_3;
    text-shadow: none;
    border-color: $border-color_1;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav--tours {
    margin-bottom: 0;
  }
  .nav__search {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.2rem;
  }
  .nav__el {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }
}
@media only screen and (max-width: 62.5em) {
  .nav--tours {
    margin-bottom: 1.5rem;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.5rem;
  }
}
